:root {
	--accent: hsl(221, 83%, 53%);
	--accent300: hsl(217, 91%, 60%);
	--accentLight: hsl(213, 94%, 68%);

	--neutral100: hsl(218, 11%, 65%);
	--neutral200: hsl(227, 9%, 57%);

	--dark100: hsl(217, 19%, 27%);
	--dark150: hsl(215, 14%, 33%);
	--dark200: hsl(215, 28%, 17%);
	--dark300: hsl(215, 27%, 17%);
	--dark400: hsl(221, 39%, 11%);

	--text: rgb(156 163 175);

	--almostWhite: #f3f4f6;
	--color: rgb(16, 185, 129);
}
